.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card-container {
  max-width: 280px;
  min-height: 300px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.card-container img {
  width: 100px;
}

.card-container .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .confirm-button {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 0 0 5px 5px;
  color: #fff;
  background-color: #007b36;
  transition: 0.5s;
}

.card-container .confirm-button:hover {
  opacity: 0.9;
}