.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.details-container .container-top {
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-container .container-top .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-top .left-side .title {
  margin-bottom: 20px;
}

.container-top .left-side .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-top .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-top .right-side img {
  width: 120px;
  margin-bottom: 10px;
}

.container-top .right-side .buttons-container {
  display: flex;
  flex-direction: column;
}

.buttons-container button {
  font-size: 17px;
  margin-bottom: 10px;
  padding: 7px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #007b36;
  transition: .2s;
}

.buttons-container button:hover {
  opacity: .8;
}

.buttons-container button:focus {
  outline: 0;
}